{% spaceless %}
<!DOCTYPE html>
<html lang="es" {{ sonata_seo_html_attributes() }}>
    <head>
        {{ sonata_seo_metadatas() }}
        <meta name="theme-color" content="#343a40" />        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Inicio | Accountyzer {% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon/favicon.ico') }}" />
        {% block stylesheets %}
            <link href="{{ asset('build/common.css') }}" rel="stylesheet" />
            <link href="{{ asset('build/accountyzer.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            {{ include('templates/navbar.html.twig')}}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {{ include('templates/footer.html.twig')}}
        {% endblock %}
        {% block javascripts %}
        <script src="{{ asset('build/common.js') }}"></script>
        {% endblock %}
    </body>
</html>

{% endspaceless %}