<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_index') }}">
            <div class="navbar-title">
                <img src="{{ asset('/images/logo-accountyzer-white.svg')}}" style="height: 25px; margin-right: 5px"/>
                Accountyzer
            </div>    
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if app.request.pathinfo == '/' %}active{% endif %}">
                <a class="nav-link" href="{{ path('app_index') }}">Inicio</a>
            </li>
            <li class="nav-item {% if app.request.pathinfo == '/servicios' %}active{% endif %}">
                <a class="nav-link" href="{{ path('services_index') }}">Servicios</a>
            </li>
            <li class="nav-item {% if app.request.pathinfo == '/team' %}active{% endif %}">
                <a class="nav-link" href="#">Galería</a>
            </li>
            <li class="nav-item {% if app.request.pathinfo == '/team' %}active{% endif %}">
                <a class="nav-link" href="#">Equipo de trabajo</a>
            </li>
            <li class="nav-item {% if app.request.pathinfo == '/contacto' %}active{% endif %}">
                <a class="nav-link" href="{{ path('message_new') }}">Contacto</a>
            </li>
            
            {#
            <li class="nav-item {% if app.request.pathinfo == '/team' %}active{% endif %}">
                <a class="nav-link" href="#">¿Qué hay de nuevo?</a>
            </li>
            <li class="nav-item {% if app.request.pathinfo == '/team' %}active{% endif %}">
                <a class="nav-link" href="#">¿Cómo llegar?</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            #}
            </ul>
            {% if app.user %}
                <span class="navbar-text">
                    <div class="dropdown">
                        <a class="btn btn-danger  btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{app.user}} 
                            <i class="far fa-user-circle" style="color: #fff"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" style="color: #000" href="{{ path('sonata_admin_dashboard')}}">
                                <i class="fas fa-tachometer-alt"></i>
                                Dashboard
                            </a>
                            <a class="dropdown-item" style="color: #000" href="{{ path('admin_app_contact_list')}}">
                                <i class="fas fa-envelope"></i>
                                Mensajes
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" style="color: #000" href="{{ logout_url() }}">
                                <i class="fas fa-sign-out-alt"></i>
                                Cerrar sesión
                            </a>
                        </div>
                    </div>
                </span>
            {% endif %}
        </div>
    </div>
</nav>