{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Misión</h1>
                <p>Prestar servicios de alta calidad, con sentido común y sentido de negocios, que permitan a nuestros clientes alcanzar sus objetivos de forma más segura, eficiente y rápida posible.</p>
            </div>
            <div class="col-lg-6">
                <h1>Visión</h1>
                <p>Ser una empresa reconocida, por la excelencia, calidad humana, y facilitadores del éxito empresarial de sus clientes; por la preparación, conocimiento, experiencia y ética de sus socios, asociados y colaboradores; y por la certeza, velocidad, eficacia, valor y confiabilidad de sus servicios.</p>
            </div>
        </div>
        {% for service in services %}
                <a href="{{ path('service_show', { 'id': service.id }) }}">
                    <h2 href="{{ path('service_show', { 'id': service.id }) }}">
                    <i class="{{ service.icon }}"></i>
                    {{ service.name }}
                    </h2>
                </a>
                {{ service.description }}
                <br/>
                <ul>
                {% for d in detail %}
                    {% if service.id == d.service.id %}
                        <li>{{ d.name }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
                <br/>
        {% endfor %}
    </div>
{% endblock %}
