{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Accountyzer</h1>
        {% for service in services %}
                <a href="{{ path('service_show', { 'id': service.id }) }}">
                    <h2 href="{{ path('service_show', { 'id': service.id }) }}">
                    <i class="{{ service.icon }}"></i>
                    {{ service.icon }}
                    {{ service.name }}
                    </h2>
                </a>
                {{ service.description }}
                <br/>
                <ul>
                {% for d in detail %}
                    {% if service.id == d.service.id %}
                        <li>{{ d.name }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
                <br/>
        {% endfor %}
    </div>
{% endblock %}
