{% extends 'templates/base.html.twig' %}
{% block body %}
    <div class="animated fadeIn">
        <div class="header shadow-sm">
            <div class="container">
                <h1>Accountyzer</h1>
                <p>Sinérgica consultores, es una compañía especializada comprometida con la entrega de calidad, conformada por socios y asociados que cuentan con más de 25 años de experiencia en las áreas de impuestos, auditoría, finanzas y contabilidad.</p>
            </div>
        </div>
        {#
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img class="d-block w-100" src="{{ asset('/images/example-banner-1.jpg')}}" alt="First slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        #}
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>¿Qué hay de nuevo?</h1>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 mt-3">
                        <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-danger">Go somewhere</a>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 mt-3">
                        <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-danger">Go somewhere</a>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 mt-3">
                        <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-danger">Go somewhere</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <a href="#">Ver más <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
            <h1>¿Quiénes somos?</h1>
                <div class="row">
                    <div class="col-lg-9">
                        {% for i in information %}
                            <p>{{ i.aboutUS|raw }}</p>
                        {% endfor %}
                    </div>
                    <div class="col-lg-3">
                        <div class="about-us">
                            <i class="fas fa-chalkboard-teacher"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>Misión</h1>
                        {% for i in information %}
                            <p>{{ i.mission }}</p>
                        {% endfor %}
                    </div>
                    <div class="col-lg-6">
                        <h1>Visión</h1>
                        {% for i in information %}
                            <p>{{ i.vision }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Valores</h1>
                        <p>Texo de valores.</p>
                    </div>
                </div>
            </div>
        </section>
        {% for c in client %}
            {% if loop.index == 1 %}
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>Nuestros Clientes</h1>
                                <div class="row">
                                    {% if loop.index == 1 %}
                                        {% for c in client %}
                                            <div class="col-sm-12 col-lg-2">
                                                {% set img = 'assets/images/clients/'~c.filename %}
                                                <img class="gray img-fluid rounded shadow-sm mt-3" src="{{ asset(img|imagine_filter('400x400')) }}" alt="{{ c.alt }}">
                                                <h5 class="mt-3">{{ c.name }}</h5>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% endif %}
        {% endfor %}
        <section>
            <div class="container">
            <h1 class="mb-4">¿Cómo llegar?</h1>
                <div class="row">
                    <div class="col-lg-6">
                        <h5>Dirección:</h5>
                        <address>
                            {% for i in information %}
                                <p class="mb-2">{{ i.address|raw }}</p>
                                {{ i.city }}, {{ i.state }}
                            {% endfor %}
                        </address>
                        </div>
                        <div class="col-lg-6">
                        {% for i in information %}
                            <h5>Teléfono:</h5>                            
                            <p>+503 {{i.phone}}</p>
                        {% endfor %}
                        <h5>Correo electrónico:</h5>                            
                        <a href="mailto:soporte@accountyzer.com">soporte@accountyzer.com</a>
                    </div>
                    <div class="col-lg-12 mb-4">
                        {% for i in information %}
                            <div class="map" style="height: 250px">
                                {{ i.map|raw }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        
    </div>
{% endblock %}