<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Inicio | Accountyzer {% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('build/common.css') }}" rel="stylesheet" />
        <link href="{{ asset('build/accountyzer.css') }}" rel="stylesheet" />
    </head>
    <body>
        {% block navbar %}
            {{ include('layout/navbar.html.twig')}}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {{ include('layout/footer.html.twig')}}
        {% endblock %}
        {% block javascripts %}
        <script src="{{ asset('build/common.js') }}"></script>
        {% endblock %}
    </body>
</html>
