{% extends 'templates/base.html.twig' %}
{% block title %}Servicios | Accountyzer {% endblock %}
{% block body %}
    <section class="services">
        <div class="container animated fadeIn">
            <div class="row">
            {% for service in services %}
                <div class="col-lg-4 mb-5">
                    {% set img = 'assets/images/services/'~service.filename %}
                    <a class="img-fluid" href="{{ path('service_show', { 'slug': service.slug }) }}">
                        <img class="img-fluid img-thumbnail shadow-sm" src="{{ asset(img|imagine_filter('680x388')) }}" alt="{{ service.alt }}">
                    </a>
                    <a class="service-home-title" href="{{ path('service_show', { 'slug': service.slug }) }}">
                        <h2 class="mb-3">
                            <i class="{{ service.icon }} fa-fw"></i>
                            {{ service.name }}
                        </h2>
                    </a>
                    <p>{{ service.description }}</p>
                    <a class="see-more " href="{{ path('service_show', { 'slug': service.slug }) }}">
                        Ver más
                        <i class="far fa-plus-square"></i>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}